<template>
  <div class="container">
    <router-link to="/"><h1 class="header">Trading Site</h1></router-link>
    <div class="error">Page Not Found <br />404</div>
  </div>
</template>
<script>
export default {
  name: "ErrorPage",
};
</script>
<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: $main-background;
  .header {
    padding: 0.5em;
    font-size: 70px;
    color: $blue-primary;
    transition: all 0.3s ease-in-out;
  }
  .header:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 1px $blue-primary;
  }
  .error {
    font-size: 50px;
    font-weight: bold;
  }
}
</style>
