// main colors
$blue-primary: #002f34;
$main-background: rgb(242, 244, 245);
$white-background: white;
$font-secondary: white;

$fav-hover: #7f9799;
$fav-added: tomato;
$date-color: #406367;

//categories colors
$yellow-cat: rgb(255, 206, 50);
$purple-cat: rgb(58, 119, 255);
$turquoise-cat: rgb(35, 229, 219);
$orange-cat: rgb(255, 86, 54);
$beige-cat: rgb(255, 246, 217);
$grey-cat: rgb(206, 221, 255);
$sky-cat: rgb(200, 248, 246);
$pink-cat: rgb(255, 214, 201);
