.el-select-dropdown__item {
  background: $white-background;
  font-family: $basic-font-type;
}

.el-select-dropdown__item:hover {
  color: $white-secondary;
  background: $blue-primary;
  transition: $transition-default;
}

.el-input__inner {
  font-family: $basic-font-type;
  color: $blue-primary;
}

// CarDetails component
.el-breadcrumb {
  line-height: normal;
}
.el-breadcrumb__inner {
  color: $blue-primary;
  text-decoration: underline;
}

.el-button--primary {
  border: none;
  background: transparent;
  color: $blue-primary;
  font-weight: bold;
  font-size: $primary-font-size;

  .el-icon-arrow-left {
    font-weight: 900;
  }
}

.el-textarea {
  .el-textarea__inner {
    background-color: $main-background;
    border-radius: 4px;
  }
  .el-textarea__inner::placeholder {
    color: $blue-primary;
    font-family: $basic-font-type;
  }
}
//breadcrumbs back button
.el-button [class*="el-icon-"] + span {
  margin-left: 0;
}
.el-button {
  padding: 12px;
}
