$transition-default: all 0.3s ease;
$content-width: 68vw;

//font variables
$basic-font-type: Avenir, Helvetica, Arial, sans-serif;

$mini-font-size: 12px;
$primary-font-size: 16px;
$large-font-size: 20px;
$header-font-size: 32px;

//border variables
$border-round: 50%;
