$transition-default: all 0.3s ease;
$width: 68vw;

//font variables
$font-size-main: 16px;
$font-small: 12px;
$font-mid: 14px;
$font-big: 20px;
$font-type: Avenir, Helvetica, Arial, sans-serif;
$header-size: 32px;

//border variables
$smooth-corners: 4px;
$border-round: 50%;
