@import "_variables.scss";
@import "_colors.scss";
@import "_element-ui.scss";

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}
#app {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $basic-font-type;
  font-size: $primary-font-size;
  text-align: center;
  color: $blue-primary;
  background: $main-background;
}
.padding-main {
  padding: 1em 10em;
}
.bm-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: $blue-primary;
  .bm-item-list {
    margin-left: 0 !important;
  }
}
.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
  .bm-cross {
    top: 1em !important;
    right: 1.5em !important;
    background: red;
    width: 5px !important;
    height: 36px !important;
  }
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 2em;
  top: 2em;
  cursor: pointer;
  .bm-burger-bars {
    background-color: $blue-primary !important;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  background: transparent;
  font-size: $primary-font-size;
  font-family: $basic-font-type;
  color: $blue-primary;
  border-radius: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.border-radius {
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .padding-main {
    padding: 1em 2em;
  }
}
