<template>
  <Slide :closeOnNavigation="true">
    <ul class="links">
      <li class="logo-container">
        <router-link to="/">
          <img class="logo" src="@/assets/app-logo.png" />
        </router-link>
      </li>
      <li><LocaleSwitcher /></li>
      <li>
        <a href="" class="disabled">
          <font-awesome-icon :icon="['far', 'comment']" size="lg" />
          <span class="link"> {{ $t("nav.messages") }} </span>
        </a>
      </li>
      <li>
        <router-link to="/favourites" class="favourite"
          ><font-awesome-icon :icon="['far', 'heart']" size="lg" />
        </router-link>
      </li>
      <li>
        <a href="" class="disabled"
          ><font-awesome-icon :icon="['far', 'user']" size="lg" />
          <span class="link"> {{ $t("nav.profile") }} </span></a
        >
      </li>
      <li class="add-advertisement">
        <a href="" class="disabled">{{ $t("nav.addListing") }}</a>
      </li>
    </ul>
  </Slide>
</template>
<script>
import { Slide } from "vue-burger-menu";
import LocaleSwitcher from "@/components/shared/LocaleSwitcher/index.vue";
export default {
  name: "HamburgerMenu",
  props: {},
  components: {
    Slide,
    LocaleSwitcher,
  },
};
</script>
<style lang="scss" scoped>
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  .disabled {
    color: grey;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }
  .logo-container {
    width: 8em;
    .logo {
      width: 100%;
    }
  }
  .add-advertisement {
    background: $white-background;
    padding: 14px 5px;
    border-radius: 4px;
    a {
      padding: 10px;
    }
  }
}
</style>
