<template>
  <div>
    <div v-if="windowWidth > 800" class="header padding-main">
      <div class="header-content">
        <div class="logo-container">
          <router-link to="/">
            <img class="logo" src="@/assets/app-logo.png" />
          </router-link>
          <LocaleSwitcher />
        </div>
        <div class="links-wrapper">
          <div class="links-list">
            <a href="" class="disabled">
              <font-awesome-icon :icon="['far', 'comment']" size="lg" />
              <span class="link"> {{ $t("nav.messages") }} </span>
            </a>
            <router-link to="/favourites" class="favourite"
              ><font-awesome-icon :icon="['far', 'heart']" size="lg" />
            </router-link>
            <a href="" class="disabled"
              ><font-awesome-icon :icon="['far', 'user']" size="lg" />
              <span class="link"> {{ $t("nav.profile") }} </span></a
            >
          </div>
          <div class="add-advertisement">
            <a href="" class="disabled">{{ $t("nav.addListing") }}</a>
          </div>
        </div>
      </div>
    </div>
    <HamburgerMenu v-if="windowWidth < 800" />
  </div>
</template>

<script>
import LocaleSwitcher from "@/components/shared/LocaleSwitcher/index.vue";
import HamburgerMenu from "./HamburgerMenu.vue";
export default {
  name: "Header",
  props: {},
  components: { LocaleSwitcher, HamburgerMenu },
  data() {
    return {
      windowWidth: window.innerWidth,
    };
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  background: $blue-primary;
  font-weight: bold;
  display: flex;
  justify-content: center;
  .header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .logo-container {
      display: flex;
      align-items: center;
      .logo {
        padding-right: 10px;
        width: 100px;
      }
    }
    .links-wrapper {
      .disabled {
        color: grey;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
      }
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      .links-list {
        margin: auto;
        a {
          color: $white-secondary;
          padding: 0 15px;
        }
        .favourite:hover {
          color: $fav-hover;
        }
        .link {
          padding: 0 8px;
        }
      }
      .add-advertisement {
        background: $white-background;
        padding: 14px 5px;
        border-radius: 4px;
        a {
          padding: 10px;
        }
      }
    }
  }
}
</style>
