<template>
  <form class="search-main padding-main">
    <div class="search-wrapper">
      <fieldset>
        <div class="bar bar-left">
          <div class="search-icon">
            <font-awesome-icon :icon="['fa', 'search']" size="lg" />
          </div>
          <div class="search-text">
            <input
              v-model="query"
              type="search"
              name="search"
              autocomplete="off"
              :placeholder="$t('searchBar.searchText')"
            />
          </div>
        </div>
        <div class="bar bar-right">
          <div class="search-icon">
            <font-awesome-icon :icon="['fa', 'search-location']" size="lg" />
          </div>
          <form class="search-location">
            <input
              v-model="selected"
              type="search"
              list="places"
              name="place"
              autocomplete="off"
              onfocus="this.value=''"
              onchange="this.blur();"
              :placeholder="$t('searchBar.location')"
            />
            <datalist id="places">
              <option
                v-for="option in options"
                :key="option"
                :value="option"
              ></option>
            </datalist>
          </form>
        </div>
        <button disabled class="search-btn">
          <span>Search</span>
          <font-awesome-icon :icon="['fa', 'search']" size="lg" />
        </button>
      </fieldset>
    </div>
  </form>
</template>
<script>
export default {
  name: "SearchBar",
  props: {},
  data() {
    return {
      query: "",
      selected: "",
      options: [
        "Dolnośląskie",
        "Kujawsko-pomorskie",
        "Lubelskie",
        "Lubuskie",
        "Łódzkie",
        "Małopolskie",
        "Mazowieckie",
        "Opolskie",
        "Podkarpackie",
        "Podlaskie",
        "Pomorskie",
        "Śląskie",
        "Świętokrzyskie",
        "Warmińsko-mazurskie",
        "Wielkopolskie",
        "Zachodnio-pomorskie",
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
.search-main {
  padding-top: 2em;
  padding-bottom: 2em;
  .search-wrapper {
    fieldset {
      background: $white-background;
      display: flex;
      border: none;
      border-radius: 4px;
      padding: 0;
      margin: 0;
      .bar {
        border-right: 1px solid $main-background;
        display: flex;
        padding: 0.5em;
        .search-icon {
          padding: 10px;
        }
        .search-text,
        .search-location {
          display: flex;
          width: 100%;

          border-radius: 4px;
          input {
            border: 0;
            outline: 0;
            font-size: $primary-font-size;
            width: 100%;
          }
        }
        &-left {
          width: 50%;
        }
        &-right {
          width: 35%;
          position: relative;
        }
      }
      .search-btn {
        width: 15%;
        display: flex;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        border: none;
        font-weight: bold;
        padding: 1em 0.5em;
        color: grey;
        pointer-events: none;
        opacity: 0.5;
        text-decoration: none;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .search-main {
    padding-top: 5em;
    fieldset {
      flex-wrap: wrap;
      font-size: 14px !important;
      .bar {
        &-left,
        &-right {
          width: 100% !important;
          border-bottom: 1px solid $main-background;
          border-right: 0 !important;
        }
      }
      .search-btn {
        width: 100% !important;
        font-size: 14px !important;
      }
    }
  }
}
</style>
