<template>
  <div class="fav-container padding-main">
    <h3>{{ $t("favourite.header") }}</h3>
    <div class="fav-wrapper">
      <!-- Ad component displaying favourite ads -->
      <AdvertBox v-for="ad in getFavAds" :key="ad.id" :ad="ad" />
    </div>
  </div>
</template>
<script>
import AdvertBox from "@/components/shared/AdvertBox/index.vue";
import { mapGetters } from "vuex";
export default {
  name: "Favourites",
  components: { AdvertBox },
  computed: {
    ...mapGetters("advertisements", ["getFavAds"]),
  },
};
</script>

<style lang="scss" scoped>
.fav-container {
  height: 100%;
  h3 {
    font-size: $header-font-size;
    font-weight: bold;
    margin: 0;
    padding: 1.5em 0;
  }
}
</style>
