<template>
  <div class="main-wrapper">
    <SearchBar />
    <div class="page-container padding-main">
      <div class="page-path">
        <BreadCrumb :ad="ad" />
      </div>
      <div class="page-wrapper">
        <div class="page page-left">
          <div class="gallery-window background">
            <div class="img-container">
              <img class="ad-img" :src="getCarImgUrl(ad.src)" :alt="ad.class" />
            </div>
          </div>
          <div class="box background">
            <div class="date-bar">
              <div class="date-text">{{ ad.date }}</div>
              <div class="fav-button-container">
                <FavouriteButton
                  @handle-favourites="handleClickAddToFavourite(ad)"
                  :added="isFavourite(ad)"
                />
              </div>
            </div>
            <div class="title-container">
              <h1 class="title-text">
                {{ $t(`advertisement.${ad.id}.title`) }}
              </h1>
            </div>
            <div class="price-container">
              <div class="ad-price">{{ ad.price + ad.currency }}</div>
            </div>
            <ReloadButton v-on:reload="reloadPage()" />
            <div class="banners-container">
              <ul class="banners-list">
                <li class="banner border-radius">
                  <span
                    >{{ $t(`carDetails.infoPanels.brandInfo`) }}
                    {{ ad.brand.name }}</span
                  >
                </li>
                <li class="banner border-radius">
                  <span
                    >{{ $t(`carDetails.infoPanels.modelInfo`)
                    }}{{ ad.model.name }}</span
                  >
                </li>
                <li class="banner border-radius">
                  <span
                    >{{ $t(`carDetails.infoPanels.yearInfo`) }}
                    {{ ad.year }}</span
                  >
                </li>
                <li class="banner border-radius">
                  <span
                    >{{ $t(`carDetails.infoPanels.mileageInfo`) }}
                    {{ ad.mileage }} km</span
                  >
                </li>
                <li class="banner border-radius">
                  <span
                    >{{ $t(`carDetails.infoPanels.fuelInfo`)
                    }}{{ $t(`advertisement.${ad.id}.fuel`) }}</span
                  >
                </li>
                <li class="banner border-radius">
                  <span
                    >{{ $t(`carDetails.infoPanels.colorInfo`)
                    }}{{ $t(`advertisement.${ad.id}.color`) }}</span
                  >
                </li>
                <li class="banner border-radius">
                  <span
                    >{{ $t(`carDetails.infoPanels.conditionInfo`) }}
                    {{ $t(`advertisement.${ad.id}.condition`) }}</span
                  >
                </li>
              </ul>
            </div>
            <div class="desc-container">
              <h3 class="desc-header">
                {{ $t("carDetails.detailsDescription") }}
              </h3>
              <div class="desc-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent quis blandit ligula. Fusce efficitur elit eget orci
                  tempor, in finibus enim bibendum. Mauris in mi quis ligula
                  dictum iaculis a a metus. Nunc dui dolor, interdum ut rutrum
                  eget, auctor et mi. Etiam tempus rutrum lacus, sollicitudin
                  sagittis velit vulputate id. Class aptent taciti sociosqu ad
                  litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <br />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent quis blandit ligula. Fusce efficitur elit eget orci
                  tempor, in finibus enim bibendum.
                </p>
                <br />
                <hr />
              </div>
              <AdvertBottomBar :advertisement-id="ad.id" />
            </div>
          </div>
          <ContactForm :advertisement-user="ad.user" />
        </div>
        <div class="page page-right">
          <UserCard
            :advertisement-user="ad.user"
            v-on:handle-call="toggleShowModal()"
            v-on:handle-msg="toggleShowModal()"
          />
          <LocationCard :advertisement-location="ad.location" />
        </div>
      </div>
    </div>
    <Transition name="fade" appear>
      <div v-if="showModal">
        <Modal
          :user-name="ad.user.name"
          @close="showModal = false"
          @click="resetForm()"
        />
      </div>
    </Transition>
  </div>
</template>
<script>
import SearchBar from "@/components/MainPage/SearchBar.vue";
import BreadCrumb from "@/components/shared/AdvertDetails/components/BreadCrumb/index.vue";
import FavouriteButton from "@/components/shared/FavouriteButton/index.vue";
import ReloadButton from "@/components/shared/AdvertDetails/components/ReloadButton/index.vue";
import AdvertBottomBar from "@/components/shared/AdvertDetails/components/AdvertBottomBar/index.vue";
import ContactForm from "@/components/shared/AdvertDetails/components/ContactForm/index.vue";
import UserCard from "@/components/shared/AdvertDetails/components/UserCard/index.vue";
import LocationCard from "@/components/shared/AdvertDetails/components/LocationCard/index.vue";
import Modal from "@/components/shared/Modal/index.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "AdvertDetails",
  props: {},
  components: {
    SearchBar,
    BreadCrumb,
    FavouriteButton,
    ReloadButton,
    AdvertBottomBar,
    ContactForm,
    UserCard,
    LocationCard,
    Modal,
  },
  data() {
    return {
      showModal: false,
    };
  },
  methods: {
    ...mapActions("advertisements", ["handleClickAddToFavourite"]),

    toggleShowModal() {
      this.showModal = !this.showModal;
    },
    isFavourite(ad) {
      return this.getFavAds.some((favAd) => favAd.id === ad.id);
    },

    reloadPage() {
      window.location.reload();
    },
    getCarImgUrl(pic) {
      return require("@/assets/cars/" + pic);
    },
  },
  computed: {
    ...mapGetters("advertisements", ["getAds", "getFavAds"]),
    ...mapGetters("categories", ["getCategories"]),

    // Return ID from the router.js (Identify ad)
    adId() {
      return this.$route.params.adId;
    },
    // Find the specific ad from the array (match route id to ad id)
    ad() {
      return this.getAds.find((ad) => ad.id == this.adId);
    },
  },
};
</script>
<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s linear;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.main-wrapper {
  background: $main-background;
  .page-container {
    text-align: left;
    .page-path {
      margin-bottom: 2em;
    }
    .page-wrapper {
      display: flex;
      gap: 1.5em;
      .page {
        .background {
          background: $white-background;
          border-radius: 4px;
        }
        &-left {
          width: 90%;
          .gallery-window {
            padding: 1.5em;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container {
              width: 100%;
              height: 100%;
              .ad-img {
                width: 100%;
                height: 100%;
                object-fit: fill;
              }
            }
          }
          .box {
            margin: 1.5em 0;
            padding: 1.5em;
            .date-bar {
              display: flex;
              justify-content: space-between;
              .date-text {
                color: $date-color;
                font-size: $mini-font-size;
              }
              .fav-button-container {
                .added {
                  color: $tomato-added;
                }
              }
            }
            .title-container {
              .title-text {
                font-size: $header-font-size;
                font-weight: 500;
              }
            }
            .price-container {
              font-weight: 700;
              color: $blue-primary;
              font-size: 36px;
              margin: 0.25em 0;
            }
            .banners-container {
              margin: 2em 0;
              .banners-list {
                display: flex;
                flex-wrap: wrap;
                .banner {
                  border: 1px solid $blue-primary;
                  padding: 6px 12px;
                  margin: 5px 5px;
                }
              }
            }
          }
        }
        &-right {
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          .card {
            padding: 1.5em;
          }
        }
      }
    }
  }
}
@media (hover: hover) {
  .fav-button-container:hover {
    color: $fav-hover;
  }
}
@media screen and (max-width: 1000px) {
  .page-wrapper {
    flex-wrap: wrap;
    .page {
      &-left,
      &-right {
        width: 100% !important;
      }
      &-left {
        .box .title-container .title-text,
        .price-container {
          font-size: 24px !important;
        }
        .gallery-window {
          padding: 0.2em !important;
        }
      }
      &-right {
        flex-direction: row;
      }
    }
  }
}
</style>
