<template>
  <div class="modal">
    <div class="modal__content">
      <h2 class="text">
        {{ $t(`carDetails.messages.contacted`) }} <br />{{ userName }}
      </h2>
      <button class="close-btn" @click="$emit('close')">Close</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "Modal",
  props: {
    userName: {
      type: String,
      required: true,
    },
  },
};
</script>
<style lang="scss" scoped>
.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(242, 244, 245, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    min-width: 20%;
    min-height: 20%;
    border: 2px solid $blue-primary;
    border-radius: 5px;
    padding: 2em;
    .text {
      line-height: 30px;
      text-align: center;
    }
    .close-btn {
      transition: all 0.3s ease-in-out;
      padding: 10px 20px;
      background-color: $blue-primary;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: inherit;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

@media (hover: hover) {
  .close-btn:hover {
    transform: scale(1.1);
    background: white;
    color: $blue-primary;
    box-shadow: 0px 0px 10px $blue-primary;
  }
}
</style>
