<template>
  <div class="bread-crumbs">
    <router-link :to="{ name: 'Cars' }">
      <el-button class="back-btn" type="primary" icon="el-icon-arrow-left">{{
        $t("carDetails.buttons.backBtn")
      }}</el-button></router-link
    >
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">{{
        $t("carDetails.breadCrumb.mainPage")
      }}</el-breadcrumb-item>
      <el-breadcrumb-item
        ><router-link :to="{ name: 'Cars' }">{{
          $t("carDetails.breadCrumb.category")
        }}</router-link></el-breadcrumb-item
      >
      <el-breadcrumb-item>{{ ad.brand.name }}</el-breadcrumb-item>
      <el-breadcrumb-item>{{ ad.model.name }}</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>
export default {
  name: "BreadCrumb",
  props: {
    ad: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.bread-crumbs {
  display: flex;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 600px) {
  .bread-crumbs {
    gap: 0.2em;
    font-size: 14px;
  }
}
</style>
