<template>
  <div class="ad border-radius">
    <router-link :to="ad.link" rel="noopener noreferrer" class="link">
      <div class="img img-wrapper">
        <img class="ad-img" :src="getCarImgUrl(ad.src)" :alt="ad.class" />
        <span :class="ad.highlighted ? 'paid-icon' : 'none'">
          <strong>{{ $t("advertisement.isHighlighted") }}</strong>
        </span>
      </div>
    </router-link>
    <div class="text">
      <div class="title">
        <router-link :to="ad.link" rel="noopener noreferrer"
          ><span class="link">{{ $t(`advertisement.${ad.id}.title`) }}</span>
        </router-link>
      </div>
      <div class="price">
        <strong>{{ ad.price + ad.currency }}</strong>
      </div>
      <div class="description">
        {{ $t(`advertisement.${ad.id}.description`) }}
      </div>
      <div class="favourite">
        <FavouriteButton
          v-on:handle-favourites="handleClickAddToFavourite(ad)"
          :added="isFavourite(ad)"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import FavouriteButton from "@/components/shared/FavouriteButton/index.vue";
export default {
  name: "AdvertBox",
  components: { FavouriteButton },
  props: ["ad"],

  methods: {
    ...mapActions("advertisements", ["handleClickAddToFavourite"]),

    isFavourite(ad) {
      return this.getFavAds.some((favAd) => favAd.id === ad.id);
    },
    getCarImgUrl(pic) {
      return require("@/assets/cars/" + pic);
    },
  },
  computed: {
    ...mapGetters("advertisements", ["getFavAds", "getAds"]),
  },
};
</script>
<style lang="scss" scoped>
a:hover {
  color: $white-secondary;
  transition: $transition-default;
  .link {
    background: $blue-primary;
  }
}
.ad {
  display: flex;
  gap: 1em;
  margin: 1em 0;
  background: $white-background;
  padding: 0.5em;
  .img {
    width: 350px;
    height: auto;
    &-wrapper {
      position: relative;
    }
    .ad-img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      object-position: center;
      border-radius: 4px 0 0 4px;
    }
    .paid-icon {
      position: absolute;
      bottom: 10px;
      left: -2px;
      padding: 4px 10px;
      font-size: $mini-font-size;
      letter-spacing: 0.8px;
      border-radius: 0 2px 0 0;
      background: $turquoise-cat;
    }
    .none {
      display: none;
    }
  }
  .text {
    padding-right: 0.5em;
    width: 100%;
    display: grid;
    grid-template-areas:
      "title price"
      "description favourite";
    gap: 0.5em;
    .title,
    .price,
    .description,
    .favourite {
      display: flex;
    }
    .title {
      text-align: left;
      font-size: $large-font-size;
      font-weight: bold;
    }
    .price {
      justify-content: flex-end;
      font-size: $large-font-size;
    }
    .description {
      justify-content: flex-start;
      align-items: flex-end;
      font-size: $mini-font-size;
      color: $date-color;
    }
    .favourite {
      justify-content: flex-end;
      align-items: flex-end;
      .added {
        color: $tomato-added;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .ad {
    flex-wrap: wrap;
    gap: 0.5em;
    .link,
    .img {
      width: 100%;
      height: auto;
    }
    .text {
      .title,
      .price {
        font-size: $primary-font-size;
      }
    }
  }
}
</style>
