<template>
  <div class="car-container padding-main">
    <div class="car-wrapper">
      <div class="top-bar">
        <h2 class="top-head">
          {{ $tc("carsPage.carsPageHeader", getFilteredAds.length) }}
        </h2>
        <SortingPanel />
      </div>
      <hr />
      <div class="ad-container">
        <!-- Highlighted Ads -->
        <div class="container-head">
          <h2 v-if="getHighlightedAds.length !== 0">
            {{ $t("carsPage.highlightedAds") }}
          </h2>
        </div>
        <AdvertBox v-for="ad in getHighlightedAds" :key="ad.id" :ad="ad" />
        <!-- Regular Ads -->
        <div class="container-head regular">
          <h2 v-if="getRegularAds.length !== 0">
            {{ $t("carsPage.regularAds") }}
          </h2>
        </div>
        <AdvertBox v-for="ad in getRegularAds" :key="ad.id" :ad="ad" />
      </div>
    </div>
  </div>
</template>
<script>
import SortingPanel from "@/components/shared/SortingPanel/index.vue";
import AdvertBox from "@/components/shared/AdvertBox/index.vue";
import { mapGetters } from "vuex";
export default {
  name: "CarsPage",
  components: { AdvertBox, SortingPanel },
  computed: {
    ...mapGetters("advertisements", [
      "getAds",
      "getFilteredAds",
      "getHighlightedAds",
      "getRegularAds",
    ]),
    ...mapGetters("filters", ["getSortValue"]),
  },
};
</script>
<style lang="scss" scoped>
.car-container {
  background: $main-background;
  .car-wrapper {
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .top-head {
      margin: 0;
      text-align: left;
    }
    .ad-container {
      .container-head {
        text-align: left;
      }
      .regular {
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .top-head,
  .container-head h2 {
    font-size: 20px;
  }
}
</style>
