<template>
  <div id="app">
    <Header class="header2" />
    <router-view />
  </div>
</template>

<script>
import Header from "@/components/MainPage/Header.vue";

export default {
  name: "App",
  components: { Header },
};
</script>
<style lang="scss" scoped>
.header2 {
  position: sticky;
  top: 0;
  z-index: 2;
}
</style>
